@{  
        ViewData["Title"] = "Trang chủ";
    }  


@section Scripts{ 
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Holland", "MBTI", "Big Five", "Enngram", "MI"],
                datasets: [{
                    label: 'Số lượt làm trắc nghiệm',
                    data: @ViewBag.Data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                        //'rgba(75, 192, 192, 0.2)',
                        //'rgba(153, 102, 255, 0.2)',
                        //'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                        //'rgba(75, 192, 192, 1)',
                        //'rgba(153, 102, 255, 1)',
                        //'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Holland</div>
                    <div class="row" style="padding-left:20px;">
                        <div class="col-md-6">
                            @ViewBag.HollandCount lượt làm
                        </div>
                        <div class="col-md-6">
                            @ViewBag.HollandUserCount người làm
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" asp-action="Holland" asp-controller="Home">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">MBTI</div>
                    <div class="row" style="padding-left:20px;">
                        <div class="col-md-6">
                           @ViewBag.MbtiCount lượt làm
                        </div>
                        <div class="col-md-6">
                           @ViewBag.MbtiUserCount người làm
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" asp-action="Mbti" asp-controller="Home">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Big Five</div>
                    <div class="row" style="padding-left:20px;">
                        <div class="col-md-6">
                            @ViewBag.BFCount lượt làm
                        </div>
                        <div class="col-md-6">
                            @ViewBag.BFUserCount người làm
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" asp-action="BigFive" asp-controller="Home">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Ennegram</div>
                    <div class="row" style="padding-left:20px;">
                        <div class="col-md-6">
                            @ViewBag.EGCount lượt làm
                        </div>
                        <div class="col-md-6">
                            @ViewBag.EGUserCount người làm
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" asp-action="Ennegram" asp-controller="Home">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
        
    </div>
</main>