@model IEnumerable<WebsiteHuongNghiep.Data.Entities.MIQuestion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-2">
            <a asp-action="Create" class="btn btn-success mg-20">Thêm mới</a>

        </div>

        <div class="col-md-4">
            <input type="text" placeholder="Tìm kiếm..." name="Keyword" value="@ViewBag.Keyword" class="form-control" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableId)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id=item.Id  }) |
          
                @Html.ActionLink("Xoá", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
