@model IEnumerable<WebsiteHuongNghiep.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách người dùng</h1>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-2">
            <a asp-action="Create" class="btn btn-success mg-20">Thêm mới</a>

        </div>
       
        <div class="col-md-4">
            <input type="text" placeholder="Tìm kiếm theo số điện thoại" name="PhoneNumber" value="@ViewBag.PhoneNumber" class="form-control" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            
           
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

                 
            <td>
                @Html.ActionLink("Sửa", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Thông tin", "Details", new { id = item.Id} ) |
                @Html.ActionLink("Xoá", "Delete", new { id=item.Id  })
                <a class="btn btn-bg-success" asp-action="">Xem lịch sử làm trắc nghiệm</a>
            </td>
        </tr>
}
    </tbody>
</table>
