@using WebsiteHuongNghiep.Application.Common
@model PagedResult<WebsiteHuongNghiep.Application.ViewModels.BlogVM>

@{ 
    ViewData["Title"] = "Blog";
    
}



<div class="container-fluid upper">
    
</div>
<div class="container" style="padding: 20px;">
    <div class="row" id="search">
        <form asp-action="Index" method="get">
            <div class="col-md-4">
                <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" value="@ViewBag.Keyword" type="text" name="keyword">
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="height: 700px;">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-4 blog-item text-center">
                <a asp-action="Detail" asp-controller="Blog" asp-route-metaTitle="@item.MetaTitle"><img src="~/user-content/@item.Image" alt="img" /></a>

                <a asp-action="Detail" asp-controller="Blog" asp-route-metaTitle="@item.MetaTitle"><p>@item.Title</p></a>
                <p>@item.Category</p>
            </div>
        }
    </div>
    @await Component.InvokeAsync("Paging", Model)
</div>